@{
    ViewBag.Title = "Contato";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Dúvidas, críticas, sugestões e outros</h2>
</hgroup>

<p><b>Tratar com:</b> Henrique Neves, fundador do "Senhor Prefeito?"</p>

<section class="contact">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>(16) 98142-0085</span>
    </p>
    <p>
        <span class="label">Horário:</span>
        <span>08:00h às 18:00h</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span><a href="mailto:henriqueg.neves@gmail.com">henriqueg.neves@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Secundário:</span>
        <span><a href="mailto:henriqueg.neves@hotmail.com">henriqueg.neves@hotmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        Rua Jaime Spinola Castro<br />
        São José do Rio Preto, São Paulo<br/>
        Brasil
    </p>
</section>